[submodule "client/afv-native"]
	path = client/afv-native
	url = git@github.com:xpilot-project/afv-native.git
[submodule "externals"]
	path = externals
	url = git@github.com:xpilot-project/externals.git
