[submodule "client/afv-native"]
	path = client/afv-native
	url = git@github.com:xpilot-project/afv-native.git
[submodule "client/externals"]
	path = client/externals
	url = git@github.com:xpilot-project/externals.git
[submodule "plugin/externals"]
	path = plugin/externals
	url = git@github.com:xpilot-project/externals.git
